.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #cacadb;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #073a6c;
    --inverted-secondary-color: #088eac;
}
