:root {
    --bg-color: #cacadb;
    --inverted-bg-color: #0e0e75;
    --primary-color: #073a6c;
    --secondary-color: #088eac;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
}
