.AppLink {
    color: var(--primary-color);

    // TODO убрать
    margin-left: 10px;

    &:hover {
        opacity: 0.7;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}
